extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Востановленние доступа к аккаунту
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Укажите пожалуйста ваш e-mail и мы вышлим вам инструкцию для сброса пароля
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          | Сбросить пароль
