footer
  .container.text-center
    ul.float-md-left.list-inline
      li.list-inline-item © 2017 Play4Play
      li.list-inline-item
        | Обратная связь:&nbsp;
        a(href='mailto:support@play4play.ru') support@play4play.ru
    ul.float-md-right.list-inline
      li
        a(href='https://passport.webmoney.ru/asp/CertView.asp?wmid=332833738360')
          img(src='https://www.webmoney.ru/img/icons/88x31_wm_black.png' title='Webmoney')

