extends ./layout

block content
    h1.page-header Арбитраж Play4Pay
    p
        b
            | Арбитраж несет материальную ответственность за разрешение споров в системе Play4Pay в размере, двукратно превышающим сумму сделки. Таким образом, в случае какой-либо ошибки в разрешении спора, сервис обязуется компенсировать все убытки (как прямые, так и косвенные).
    h4
        br
        | В каком случае требуется участие арбитража?
    p
        | Участие арбитража может потребоваться в том случае, если участники сделки не могут разрешить спор самостоятельно, при этом баланс сделки должен быть отличен от нуля. В компетенцию арбитража входит вынесение решения о распределении средств сделки между её участниками.
    h4
        br
        | Каким образом обратиться в арбитраж?
    p
        | Любой из участников сделки может направить соответствующее обращение консультанту в правом нижнем углу сайта либо на почту support@play4play.ru.
        | Разбирательство начинается в
        b чате между покупателем и продавцом
        |  в течение суток с момента обращения.
    h4
        br
        | Как происходит разрешение споров в арбитраже?
    p
        | Разрешение любого спора начинается с прохождения процедуры идентификации. Арбитраж устанавливает паспортные данные участников (посредством отправки на почту support@play4play.ru соответствующих отсканированных документов и фотографий на фоне сайта Play4Pay).
    p
        b
            | В том случае, если какая-либо из сторон, участвующих в сделке, уклоняется от идентификации или проведения разбирательства по существу, арбитраж оставляет за собой право разрешить спор в пользу противоположной стороны.
    p
        | Арбитраж проводит обязательные консультации с участниками сделки в чате сделки (или используя иные формы связи), а также устанавливает факты, достоверно свидетельствующие о выполнении или невыполнении условий сделки.
