extends ./layout

block content
    h1.page-header Вопросы и ответы

    h4
        br
        | Что такое play4play.ru? 
    p
        | Play4Pay - это новая, передовая биржа на рынке игровых услуг.
    h4
        br
        | Как зарегистрироваться на play4play.ru?
    p
        ol
            li В правом верхнем углу нажать на раздел "Зарегистрироваться"
            li Ввести необходимые данные:
                ul
                    li имя (любое наименование, которое будет использоваться вами для собственной идентификации)
                    li почта (почта, которую вы будете использовать для входа на сайт)
                    li пароль (для большей надежности, используйте пароль не менее чем из 8 символов, сочетая при этом латинские буквы и цифры)
                | Нажать на кнопку "Зарегистрироваться".
            li Зайти на указанную в Шаге 2 почту, открыть письмо идентификации, и пройти по ссылке для подтверждения своей учетной записи.
                br/
                | Вы успешно зарегистрированы на бирже.

    h4
        br
        | Безопасна ли сделка на play4play.ru?
    p
        | Да, по ряду причин:
    p
        | - оплата продавцу происходит, только после подтверждения покупателем, а значит при отмене сделки, пропаже продавца, не выдаче товара, аккаунта, предмета или услуги, средства покупателя будут возвращены.
    p
        | - любая сделка, предполагает предоплату, поэтому в спорных случаях при наличии доказательств совершения сделки у продавца (видео запись передачи, а так же сриншоты), оплата ему будет зачислена.

    h4
        br
        | Возможна ли блокировка за покупку игровой валюты?
    p
        | Вопрос блокировки следует адресовать продавцу, у которого вы покупали, либо администрации самой игры. Советуем перед покупкой проверить продавца: отзывы о нем, дату регистрации, что позволит определить степень его надежности. Напоминаем, что play4play.ru - биржа, дающая гарантии на совершение сделки, о чем написано выше.
