extends ./layout

block content

    h4 Партнерская программа - это возможность зарабатывать дополнительный доход, не прилагая при этом больших усилий.
    br/
    h4 Чтобы стать участником партнерской  программы вам нужно:
    br/
    strong Шаг 1.
    p Для включения партнерской программы вам нужно перейти в раздел "Кабинет", далее нажать на кнопку "Партнерская система".
    img.img-thumbnail(src='//i.imgur.com/iZHPvlB.png')
    br
    strong Шаг 2.
    p Биржа предлагает вам 2 варианта работы в партнерской программе:
    br
    p 1. Размещение предложенной биржей ссылки на информационных портал, форумах и т.д.
    br
    p 2. Распространение среди пользователей Онлайн игр кода приглашения.
    p.text-danger  Важно:  Для того чтобы пользователи регистрировались по вашему коду, пригласите их на  Play4Play.ru  без  www.  в начале.
    img.img-thumbnail(src='//i.imgur.com/WkBes6M.png')
    br
    br
    p Клиент пришедший на биржу по этой ссылки или зарегистрировался с помощью кода, становится вашим активом. А именно, с каждой его покупки на ваш Партнерский баланс будут автоматически зачисляться 10-50% от прибыли сайта (% вашей прибыли можно увидеть в разделе любой игры).
    img.img-thumbnail(src='http://i.imgur.com/dGNvy30.png')
    br
    br
    strong Всю информацию:
    |  количество регистраций, количество сделок, сумма сделок, а так же ваш заработок можно увидеть в вашем Кабинете, вкладка "Партнерская система".
    br
    img.img-thumbnail(src='http://i.imgur.com/goLwzL3.png')
    br


    br
    br
    strong Как работает система вывода средств.
    p Вся полученная прибыль поступает на Ваш реферальный баланс, поэтому чтобы получить эти средства вам нужно перевести их на свой баланс на сайте, сделать это можно выбрав соответствующий кошелек в  выпадающем меню.
    p Вывод денег может происходить ежедневно, но с условием - не меньше 50р.
