extends ./layout

block content
    h1.page-header FAQ покупателя

    h4
        br
        | Как купить через play4play.ru? 
    ol
        li После регистрации на сайте, проходите в раздел нужной вам игры.
        li Выбираете вкладку: валюта, аккаунты, предметы, услуги.
        li В выпадающем списке выбираете сервер.
        li Из списка продавцов Online выбираете того кого сочли самым надежным, который располагает нужным количеством и устраивает вас по цене. Далее переходите в лот продавца.
        li Обращаетесь к продавцу, для уточнения интересующего вас товара. После того как продавец подтвердил наличие товара, переходите к оформлению сделки.
        li Выбираете устраивающий вас способ оплаты, указываете количество товара или сумму средств. Ниже вводите ник персонажа (будьте предельно внимательны при вводе, так как от точности будет зависеть завершение сделки) и нажимаете "Купить".
        li Производите оплате, после чего автоматически возвращаетесь в форму заказа. Согласовываете с продавцом способ доставки.
        li После получения товара, подтверждаете совершение сделки.
            p.text-info После удачно совершенной сделки, оставьте свой отзыв о продавце, так как в дальнейшем это поможет другим покупателям и вам в определении надежности продавца.
        li После передачи, не забудьте напомнить покупателю о необходимости подтверждения совершения сделки.
            p.text-info После удачно совершенной сделки, попросите покупателя оставить отзыв, так как в дальнейшем это поможет другим покупателям в определении вашей надежности.

    h4
        br
        | Как определить надежность продавца?
    ul
        li следует обратить внимание на отзывы, оставленные предыдущими покупателями.
        li дата регистрации так же немаловажна, так как чем дольше продавец на сайте, тем больше сделок он совершил.
        li также следует обратиться не посредственно к продавцу, и пообщаться в чате.
        li.text-danger Все продавцы-мошенники блокируются администрацией play4play.ru оперативно, поэтому попасть на них маловероятно
