extends ./layout
block stylesheets
    script(src='https://www.google.com/recaptcha/api.js')
block content
    h1.page-header Правила для продавцов
    p
        strong Внимание!
        |  После размещения предложений оставайтесь на нашем сайте (не закрывайте страницу).
        |   В этом случае вы будете иметь статус «online», и покупатели смогут связываться с вами через внутренний чат.
    h2 Нарушения и санкции
    table.table.trade-rules
        thead
            tr
                th Нарушение
                th Санкции
        tbody
            tr
                td
                    | Передача  покупателю или продавцу любой контактной информации  (skype, почта, ICQ, ВКонтакте, телефон и др.), финансовой информации (номера кошельков в различных платежных системах), общение в не чата биржи.
                td Блокировка аккаунта.
            tr
                td
                    | Использование в имени пользователя наименования любого интернет ресурса, магазина, форума и тп, нецензурную лексику
                td
                    | Переименование аккаунта.
            tr
                td
                    | Накрутка отзывов.
                td Удаление всех отзывов. Блокировка аккаунта при повторном нарушении.
            tr
                td Любое размещение ложных лотов или дублирование существующих.
                td Блокировка аккаунта.
            tr
                td Общение с клиентов в чате игры.
                td Блокировка аккаунта.
            tr
                td
                    | Размещение или передача третьим лицам данных о заказе.
                td Блокировка аккаунта.
    p Блокировки аккаунтов осуществляются без предупреждений и уведомлений.
    p
        | Администрация оставляет за собой право на связь с продавцами под видом покупателей с целью выявления нарушений.

    if user && !user.isSeller
        .row
            .col-md-4
                button#go-test.btn.btn-lg.btn-primary Я принимаю данные правила