extends ./layout

block content
    h1.page-header FAQ продавца

    h4
        br
        | Как продать через play4play.ru?
    ol
        li После регистрации на сайте, необходимо зайти в кабинет - раздел Баланс и выбрать наиболее удобные платежные системы. Именно через них вы сможете получать вашу прибыль.
        li Переходите в раздел нужной вам игры. Выбираете вкладку: валюта, аккаунты, предметы, услуги и нажимаете кнопку  "Продать ..."
        li Ознакомление с правилами для продавцом и подтверждение согласия с ними.
        li Все продавцы проходят мини тест на знание правил.
        li Заполнение формы для реализации товара, аккаунта, предмета или услуги. Итогом станет лот на бирже play4play.ru
        li Ожидаете покупателя. Чем больше времени вы на сайте, тем больше вероятность поступления заказа.
        li После получения сообщения об оплате лота, проверьте статус заказ во вкладке "Мои продажи".
        li Передайте покупателя товар.
            p.text-info Дабы обезопасить себя от недобросовестных покупателей настоятельно рекомендуем делать видео запись передачи товара.
        li После передачи, не забудьте напомнить покупателю о необходимости подтверждения совершения сделки.
            p.text-info После удачно совершенной сделки, попросите покупателя оставить отзыв, так как в дальнейшем это поможет другим покупателям в определении вашей надежности.

    h4
        br
        | Как вывести свои деньги c play4play.ru?
    ol
        li В разделе "Кабинет" выбираете вкладку "Кошельки". Определяете нужную платежную систему и указываете ваш номер кошелька.
        li Выбираете вкладку "Баланс". На против нужной платежной системы нажимаете кнопку "Вывести".
        li Указываете нужный вам счет, вводите сумму для вывода и создаете заявку.
    h4
        br
        | Как быстро производится выплата?
    p После оформления заявки на вывод, деньги поступят на ваш счет в период от 2 до 24 часов.
