
ul.nav.nav-tabs
    li.nav-item
        a.nav-link(href='/stats' class=(menuCode == 900) ? 'active' : undefined) Основная
    li.nav-item
        a.nav-link(href='/stats/sellers' class=(menuCode == 901) ? 'active' : undefined) Продавцов
    li.nav-item
        a.nav-link(href='/stats/referral' class=(menuCode == 902) ? 'active' : undefined) Рефералка
    li.nav-item
        a.nav-link(href='/stats/profit' class=(menuCode == 903) ? 'active' : undefined) Прибыль
    li.nav-item
        a.nav-link(href='/stats/refund' class=(menuCode == 904) ? 'active' : undefined) Возврат